@model HelloUserModel

@{
	ViewData["Title"] = "Hello User";
}

<h2>Fetching User Name as Secret from AWS</h2>
<hr />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome @Model.Token </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>